*
{
    margin: 0;
    padding:0;
}
.container
{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header
{
    margin: 0;
    color: #ffffff;
    border-bottom: #e8491d 3px solid;
    background-color: #35424a;
    padding: 32px 0px;
}
header h1{
    float: left;
    font-size: px;
    font-weight: bold;
}
header nav{
    float: right;
    padding-top:10px; 
}
li{
    display: inline;
    padding-right: 25px;
}
li a{
    font-size: 22px;
    color: #ffffff;
    text-decoration: none;
}
a:hover
{
    color:#e8491d;
}
/* showcase */
.showcase
{
    text-align: center;
    color: #ffffff;
    height: 400px;
    background-image: url("showcase.jpg"/);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
.showcase h1{
    padding:60px 0 20px 0;
    font-size: 60px;
}
.showcase p{
    font-size: 20px;
    padding:10px;
}
.newsletter
{
    margin: 0;
    color: #ffffff;
    background-color:#35424a ;
    padding: 32px 0px;
}
.newsletter p{
  font-weight: bold;  
  font-size: 25px;
  float: left;
  width: 65%;
}
.newsletter input
{
    width: 280px;
    padding: 10px 0px;
    border:0;
}
.newsletter button{
    color: #ffffff;
    border: 0;
    padding: 10px;
    background-color: #e8491d;
}
.boxes
{
    background: #f4f4f4;
}
.box
{
    height: 300px;
    width: 30%;
    float: left;
    text-align: center;
}
.box img{
    padding: 20px 0;
}
.box h3{
    font-size: 20px;
    padding: 10px 0;
}
.box p{
    padding: 10px 10px;;
}
footer
{
    padding:27px;
    font-size: 16px;
    text-align: center;
    background-color: #e8491d;
    color: #ffffff;
}

@media screen and (max-width: 600px) 
{
   
    header h1,nav
    {
        float: none;
        text-align: center;
        width: 100%;
    }
    li{
        padding-right: 10px;
    }
    .showcase h1{
        font-size: 35px;
        padding: 60px 0 20px 0;
    }
    .showcase p{
        padding: 10px;
    }
    .newsletter p{
        text-align: center;
        font-size: 20px;
        float: none;
        padding:10px 0px ;
        width: 100%;
    }
    .newsletter input{
        width: 100%;
        margin: 10px 0px;
    }
    .newsletter button{
        width: 100%;
    }
    .box{
        float: none;
        width:100%;
        text-align: center;
        height: 300px;;
    }
}
